<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Words & Reading Study</title>
    <link rel="Favicon" href="" />
    <link
      rel="stylesheet"
      href="/static/css/bootstrap.min.css"
      type="text/css"
    />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <link rel="icon" href="/static/favicon.ico" />
  </head>

  <body>
    <div id="container-instructions">
      <h1>Content Warning</h1>

      <hr />

      <div class="instructions well">
        <div>
          Completing this study requires reading text, which may include
          narratives with mature themes. These themes could include violence,
          harassment, death and adult relationships.
        </div>

        <br />

        <center>
          <button
            type="button"
            class="btn btn-success btn-lg"
            onClick="window.location='/consent'+window.location.search"
          >
            <span class="glyphicon glyphicon-ok"></span> Continue
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button
            type="button"
            class="btn btn-danger btn-lg"
            onClick="window.location='https://app.prolific.co/submissions/complete?cc=CKONHI5M'"
          >
            <span class="glyphicon glyphicon-ban-circle"></span> Exit
          </button>
        </center>
      </div>
    </div>
  </body>
</html>
