__pycache__
**/data/
participants.db
server.log
.psiturk_history
plots
.cache
.DS_Store
conditions/psiturk-based/linger-volition/data*
conditions/psiturk-based/story-relatedness/data*
.env
id_mapping.json
