<div id="container-instructions">
  <h1>Phase 2: Word Rating</h1>

  <hr />

  <div class="instructions well">
    <p>
      Follow your intuition and answer for every word each question
      independently.
    </p>

    <br />

    <p>
      The relatedness to a moment and the relatedness to the theme or mood do
      not need to be the same or even similar.
    </p>

    <script type="text/javascript">
      //console.log(psiTurk.getInstructionIndicator())
      // delay next button
      setTimeout(function () {
        $("#next").prop("disabled", false);
      }, INSTRUCTION_DELAY);
    </script>
  </div>

  <hr />

  <div class="instructionsnav">
    <div class="row">
      <div class="col-xs-2">
        <button
          type="button"
          id="prev"
          value="prev"
          class="btn btn-primary btn-lg previous"
        >
          <span class="glyphicon glyphicon-arrow-left"></span> Previous
        </button>
      </div>
      <div class="col-xs-8">
        <center>
          <button
            type="button"
            id="next"
            value="next"
            class="btn btn-success btn-lg continue"
            disabled
          >
            Begin rating <span class="glyphicon glyphicon-arrow-right"></span>
          </button>
        </center>
      </div>
      <div class="col-xs-2"></div>
    </div>
  </div>
</div>
