<div id="skip"></div>
<div id="container-questionnaire">
  <div id="questionnaire">
    <h1 class="ctext">Phase 2: Story questions (6/6)</h1>
    <br />
    <p class="ctext">
      Please rate the following questions on a scale of 1 (Not at all) to 7
      (Very much).
    </p>
    <hr />
    <div class="instructions well">
      <form id="experience4">
        <p>
          <b><i>After reading the story, I noticed...</i></b>
        </p>

        <!-- beginning of a question -->
        <div class="row-question">
          <br />
          <div class="col-sm-8">
            A change in the <i>emotions I felt</i> while playing the word chain
            game.
          </div>
          <div class="col-sm-4">
            <select
              id="wcg_diff_emotion"
              name="wcg_diff_emotion"
              class="qselect qelement"
            >
              <option value="7">7 - Very much</option>
              <option value="6">6</option>
              <option value="5">5</option>
              <option value="4">4</option>
              <option value="3">3</option>
              <option value="2">2</option>
              <option value="1">1 - Not at all</option>
              <option value="" disabled selected>Select option</option>
            </select>
          </div>
          <br />
        </div>
        <!-- end of a question -->

        <!-- beginning of a question -->
        <div class="row-question">
          <br />
          <br />
          <div class="col-sm-8">
            A change in the <i>topics that came to mind</i> while playing the
            word chain game.
          </div>
          <div class="col-sm-4">
            <select
              id="wcg_diff_topics"
              name="wcg_diff_topics"
              class="qselect qelement"
            >
              <option value="7">7 - Very much</option>
              <option value="6">6</option>
              <option value="5">5</option>
              <option value="4">4</option>
              <option value="3">3</option>
              <option value="2">2</option>
              <option value="1">1 - Not at all</option>
              <option value="" disabled selected>Select option</option>
            </select>
          </div>
          <br />
        </div>
        <!-- end of a question -->

        <!-- beginning of a question -->
        <div class="row-question">
          <br />
          <br />
          <div class="col-sm-8">
            A change in
            <i>how easy or difficult it was to come up with words</i> while
            playing the word chain game.
          </div>
          <div class="col-sm-4">
            <select
              id="wcg_diff_ease"
              name="wcg_diff_ease"
              class="qselect qelement"
            >
              <option value="7">7 - Very much</option>
              <option value="6">6</option>
              <option value="5">5</option>
              <option value="4">4</option>
              <option value="3">3</option>
              <option value="2">2</option>
              <option value="1">1 - Not at all</option>
              <option value="" disabled selected>Select option</option>
            </select>
          </div>
          <br />
        </div>
        <!-- end of a question -->

        <!-- beginning of a question -->
        <div class="row-question">
          <br />
          <br />
          <div class="col-sm-8">
            A change in how <i>tired I felt</i> while playing the word chain
            game.
          </div>
          <div class="col-sm-4">
            <select
              id="wcg_diff_tired"
              name="wcg_diff_tired"
              class="qselect qelement"
            >
              <option value="7">7 - Very much</option>
              <option value="6">6</option>
              <option value="5">5</option>
              <option value="4">4</option>
              <option value="3">3</option>
              <option value="2">2</option>
              <option value="1">1 - Not at all</option>
              <option value="" disabled selected>Select option</option>
            </select>
          </div>
          <br />
        </div>
        <!-- end of a question -->

        <!-- beginning of a question -->
        <div class="row-question">
          <br />
          <br />
          <div class="col-sm-8">
            A change in how <i>bored I felt</i> while playing the word chain
            game.
          </div>
          <div class="col-sm-4">
            <select
              id="wcg_diff_bored"
              name="wcg_diff_bored"
              class="qselect qelement"
            >
              <option value="7">7 - Very much</option>
              <option value="6">6</option>
              <option value="5">5</option>
              <option value="4">4</option>
              <option value="3">3</option>
              <option value="2">2</option>
              <option value="1">1 - Not at all</option>
              <option value="" disabled selected>Select option</option>
            </select>
          </div>
          <br />
        </div>
        <!-- end of a question -->

        <!-- beginning of a question -->
        <div class="last-row-question">
          <br />
          <br />
          <div class="col-sm-8">
            There was a change in my thoughts, but it was not something that is
            captured by the questions above.
          </div>
          <div class="col-sm-4">
            <select
              id="wcg_diff_thoughts"
              name="wcg_diff_thoughts"
              class="qselect qelement"
            >
              <option value="7">7 - Very much</option>
              <option value="6">6</option>
              <option value="5">5</option>
              <option value="4">4</option>
              <option value="3">3</option>
              <option value="2">2</option>
              <option value="1">1 - Not at all</option>
              <option value="" disabled selected>Select option</option>
            </select>
          </div>
          <br />
        </div>
        <!-- end of a question -->
        <br />
        <hr />
        <br />

        <!-- beginning of a question -->
        <div class="row question">
          <div class="col-sm-8">
            <div class="form-group">
              <label for="wcg_diff_explanation">
                In a few sentences, please elaborate on your experience and
                describe, in your own words, any of the
                <i>specific changes you felt</i>.
              </label>
              <textarea
                id="wcg_diff_explanation"
                name="wcg_diff_explanation"
                class="qelement form-control"
              ></textarea>
            </div>
          </div>
          <br />
        </div>
        <!-- end of a question -->
      </form>
    </div>

    <hr />

    <div id="warning"></div>

    <div class="instructionsnav">
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-7"></div>
        <div class="col-xs-3">
          <button
            type="button"
            id="submit"
            value="next"
            class="btn btn-primary btn-lg continue"
          >
            Next <span class="glyphicon glyphicon-arrow-right"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
